<section class="hero">
  <div class="container">
    <h2 class="hero__title heading-h1">Contact our team to find out more</h2>
    <div class="hero__map">
      <script
        type="text/javascript"
        charset="utf-8"
        async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9a787cfd2734470542d5dd9ac8d219cac8602da6b78035dd8ca12c23e43016c7&amp;width=100%&amp;height=545&amp;lang=ru_RU&amp;scroll=true"
      ></script>
      <ul class="hero__contacts">
        <li class="hero__contacts-item">
          <h3 class="hero__contacts-item-title text-p-large">Support</h3>
          <p class="hero__contacts-item-descr text-p-default">
            Our friendly team is here to help.
          </p>
          <a
            href="mailto:support@sans.com"
            class="hero__contacts-item-link text-p-default"
          >
            support@sans.com
          </a>
        </li>
        <li class="hero__contacts-item">
          <h3 class="hero__contacts-item-title text-p-large">Sales</h3>
          <p class="hero__contacts-item-descr text-p-default">
            Questions or queries? Get in touch!
          </p>
          <a
            href="mailto:sales@sans.com"
            class="hero__contacts-item-link text-p-default"
          >
            sales@sans.com
          </a>
        </li>
        <li class="hero__contacts-item">
          <h3 class="hero__contacts-item-title text-p-large">Phone</h3>
          <p class="hero__contacts-item-descr text-p-default">
            Mon-Fri from 8am to 5pm.
          </p>
          <a
            href="tel:+14353457655"
            class="hero__contacts-item-link text-p-default"
          >
            +1 (435) 345-7655
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
