<footer class="footer">
  <div class="container">
    <div class="footer__head">
      <div class="footer__head-text">
        <h3 class="footer__title">Think beyond the wave</h3>
        <p class="footer__descr text-p-medium">
          Ask about Sans products, pricing, implementation, or anything else.
          Our highly trained reps are standing by, ready to help
        </p>
      </div>
      <a href="/coca/contact.html#get-started" class="footer__link button-form"
        >Try for free</a
      >
    </div>
    <div class="footer__body">
      <div class="footer__body-info">
        <a href="/coca/" class="footer__logo" aria-label="Home page">
          <img
            loading="lazy"
            src="./assets/icons/light-logo.svg"
            width="140"
            height="42"
            alt="Coca logo"
          />
        </a>
        <p class="footer__body-descr text-p-default">
          We built an elegant solution. Our team created a fully integrated
          sales and marketing solution for SMBs
        </p>
      </div>
      <nav class="footer__nav">
        <ul class="footer__list text-p-default">
          <li class="footer__item">
            <h4 class="footer__item-title">Company</h4>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a href="/coca/about.html" class="footer__subitem-link">
                  About
                </a>
              </li>
              <li class="footer__subitem">
                <a href="/coca/pricing.html" class="footer__subitem-link">
                  Pricing
                </a>
              </li>
              <li class="footer__subitem">
                <a href="/coca/jobs.html" class="footer__subitem-link">Jobs</a>
              </li>
              <li class="footer__subitem">
                <a href="/coca/blog.html" class="footer__subitem-link">Blog</a>
              </li>
            </ul>
          </li>

          <li class="footer__item">
            <h4 class="footer__item-title">Product</h4>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a href="#" class="footer__subitem-link"> Sales Software </a>
              </li>
              <li class="footer__subitem">
                <a href="#" class="footer__subitem-link"> Marketplace </a>
              </li>
              <li class="footer__subitem">
                <a href="#" class="footer__subitem-link">
                  Terms & Conditions
                </a>
              </li>
              <li class="footer__subitem">
                <a href="#" class="footer__subitem-link">Privacy Policy</a>
              </li>
            </ul>
          </li>

          <li class="footer__item">
            <h4 class="footer__item-title">Discover</h4>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a href="#" class="footer__subitem-link">CRM Comparision</a>
              </li>
              <li class="footer__subitem">
                <a href="#" class="footer__subitem-link">Partner Program</a>
              </li>
              <li class="footer__subitem">
                <a href="#" class="footer__subitem-link"> What is CRM </a>
              </li>
              <li class="footer__subitem">
                <a href="#" class="footer__subitem-link">Resource</a>
              </li>
            </ul>
          </li>

          <li class="footer__item">
            <h4 class="footer__item-title">Help Center</h4>
            <ul class="footer__sublist">
              <li class="footer__subitem">
                <a href="#" class="footer__subitem-link">Community</a>
              </li>
              <li class="footer__subitem">
                <a href="#" class="footer__subitem-link">Knowledge Base</a>
              </li>
              <li class="footer__subitem">
                <a href="#" class="footer__subitem-link">Academy</a>
              </li>
              <li class="footer__subitem">
                <a href="#" class="footer__subitem-link">Support</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-lists">
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a href="#" class="footer__social-link" aria-label="Facebook">
              <img
                loading="lazy"
                src="./assets/icons/socials/fb-icon.svg"
                width="20"
                height="20"
                alt="Facebook icon"
              />
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <img
                loading="lazy"
                src="./assets/icons/socials/tw-icon.svg"
                width="20"
                height="20"
                alt="Twitter icon"
              />
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link" aria-label="Instagram">
              <img
                loading="lazy"
                src="./assets/icons/socials/inst-icon.svg"
                width="20"
                height="20"
                alt="Instagram icon"
              />
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link" aria-label="LinkedIn">
              <img
                loading="lazy"
                src="./assets/icons/socials/ln-icon.svg"
                width="20"
                height="20"
                alt="LinkedIn icon"
              />
            </a>
          </li>
        </ul>
        <ul class="footer__bottom-list text-p-small">
          <li class="footer__bottom-item">
            <a href="#" class="footer__bottom-link">Privacy Policy</a>
          </li>
          <li class="footer__bottom-item">
            <a href="#" class="footer__bottom-link">Terms & Conditions</a>
          </li>
          <li class="footer__bottom-item">
            <a href="#" class="footer__bottom-link">Support</a>
          </li>
        </ul>
      </div>
      <div class="footer__copyright text-p-small">
        © Copyright 2023, All Rights Reserved
      </div>
    </div>
  </div>
</footer>
