<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/airbnb-logo-icon.svg"
          width="97"
          height="30"
          alt="Airbnb logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/amazon-logo-icon.svg"
          width="97"
          height="30"
          alt="Amazon logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/fedex-logo-icon.svg"
          width="96"
          height="30"
          alt="FedEx logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/microsoft-logo-icon.svg"
          width="116"
          height="26"
          alt="Microsoft logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/google-logo-icon.svg"
          width="91"
          height="30"
          alt="Google logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/ola-logo-icon.svg"
          width="94"
          height="32"
          alt="OLA logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/walmart-logo-icon.svg"
          width="114"
          height="28"
          alt="Walmart logo icon"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/oyo-logo-icon.svg"
          width="80"
          height="28"
          alt="OYO logo icon"
        />
      </li>
    </ul>
  </div>
</section>
