<section class="strength">
  <div class="container strength__container">
    <ul class="strength__list">
      <li class="strength__item">
        <p class="strength__item-text text-p-default">
          <span class="strength__item-num">17k</span>
          happy customers on worldwide
        </p>
      </li>
      <li class="strength__item">
        <p class="strength__item-text text-p-default">
          <span class="strength__item-num">15+</span>
          Hours of work experience
        </p>
      </li>
      <li class="strength__item">
        <p class="strength__item-text text-p-default">
          <span class="strength__item-num">50+</span>
          Creativity & passionate members
        </p>
      </li>
      <li class="strength__item">
        <p class="strength__item-text text-p-default">
          <span class="strength__item-num">100+</span>
          Integrations lorem ipsum integrations
        </p>
      </li>
    </ul>
    <img
      loading="lazy"
      class="strength__img"
      src="./assets/image/strength-img.jpg"
      width="1200"
      height="536"
      alt="Group of people"
    />
    <div class="strength__info">
      <h2 class="strength__title heading-h2">
        Lift your business to new heights with our digit al marketing services
      </h2>
      <p class="strength__descr text-p-medium">
        To build software that gives customer facing teams in small and
        medium-sized businesses the ability to create rewarding and long-lasting
        relationships with customers
      </p>
    </div>
  </div>
</section>
